[submodule "bins/hop"]
	path = bins/hop
	url = git@github.com:Cue/hop.git
[submodule "tmux/tmux-resurrect"]
	path = tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "emacs/emacs-jedi"]
	path = emacs/emacs-jedi
	url = git@github.com:tkf/emacs-jedi.git
