[user]
	name = Nayef Copty
	email = nrcopty@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	histr = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all

## Enable only if using git v2.0 and above
#[push]
	#default = simple
