emacs/.emacs.d/auto-save-list/
.gitconfig
.mc-lists.elc
*.dat
*.last
*.lst
*.bak
*.bak2
.cask/
*.elc
projectile-bookmarks.eld
*projectile.cache
.hrtrc
config/.config/hub
config/.config/git/
config/.config/peco/
