[user]
	name = Nayef Copty
	email = nrcopty@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = emacs
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	histr = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short --all
[push]
	default = simple
